<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevingil.wash"
    android:versionCode="6"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Kevin" >

        <!-- analog clock widget reciever -->
        <receiver
            android:name="com.kevingil.utils.Clock_Actions"
            android:label="WASH" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config" />
        </receiver>

        <activity
            android:name="com.kevingil.wash.Main"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kevingil.wash.Schoolloop"
            android:configChanges="orientation"
            android:label="Schoolloop"
            android:parentActivityName="Main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Main" />
        </activity>
        <activity
            android:name="com.kevingil.wash.Bulletin"
            android:configChanges="orientation"
            android:label="Bulletin"
            android:parentActivityName="Main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Main" />
        </activity>
        <activity
            android:name="com.kevingil.wash.Schedule"
            android:configChanges="orientation"
            android:label="@string/title_activity_schedule"
            android:parentActivityName="Main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Main" />
        </activity>
        <activity
            android:name="com.kevingil.wash.Social"
            android:configChanges="orientation"
            android:label="Social"
            android:parentActivityName="Main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Main" />
        </activity>
        <activity
            android:name="com.kevingil.wash.Info"
            android:configChanges="orientation"
            android:label="About"
            android:parentActivityName="Main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Main" />
        </activity>
        <activity
            android:name="com.kevingil.wash.News"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="com.kevingil.wash.Places"
            android:label="@string/title_activity_places" >
        </activity>
        <activity
            android:name="com.kevingil.wash.Food"
            android:label="@string/title_activity_food" >
        </activity>
        <activity
            android:name="com.kevingil.wash.School"
            android:label="@string/title_activity_school" >
        </activity>
        <activity
            android:name="com.kevingil.wash.PrivacyPolicy"
            android:label="@string/title_activity_privacy_policy" >
        </activity>
        <activity
            android:name="com.kevingil.wash.Mail"
            android:label="@string/title_activity_mail" >
        </activity>
        <activity
            android:name="com.kevingil.wash.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.kevingil.wash.Post"
            android:label="@string/title_activity_post" >
        </activity>
    </application>

</manifest>