<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevingil.wash"
    android:versionCode="2"
    android:versionName="wash-official-m2-build-47-kevingil@ubuntu" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Kevin" >
        <receiver
            android:name="com.kevingil.wash.Clock_Actions"
            android:label="WASH" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config" />
        </receiver>

        <!-- parent activity -->
        <activity
            android:name="com.kevingil.wash.Home"
            android:label="@string/title_activity_home"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- after this are the other activities -->

        <activity
            android:name="com.kevingil.wash.SchoolloopActivity"
            android:label="@string/title_activity_schoolloop"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kevingil.wash.Home" />
        </activity>
        <activity
            android:name="com.kevingil.wash.BellScheduleActivity"
            android:label="@string/title_activity_bell_schedule"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kevingil.wash.Home" />
        </activity>
        <activity
            android:name="com.kevingil.wash.AboutDeveloper"
            android:label="@string/title_activity_about_developer"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kevingil.wash.Home" />
        </activity>
        <activity
            android:name="com.kevingil.wash.Social"
            android:label="@string/title_activity_facebook_groups"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kevingil.wash.Home" />
        </activity>
        <activity
            android:name="com.kevingil.wash.DailyBulletin"
            android:label="@string/title_activity_daily_bulletin"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kevingil.wash.Home" />
        </activity>
        <activity
            android:name="com.kevingil.wash.SchoolloopWebclientActivity"
            android:label="@string/title_activity_schoolloop_webclient" >
        </activity>
        <activity
            android:name="com.kevingil.wash.SlideMenuTest"
            android:label="@string/title_activity_slide_menu_test" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kevingil.wash.Home" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kevingil.wash.BaseActivity"
            android:label="@string/title_activity_base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Home" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>