html{
	height:100%;
}

/* ONLY the wrapper is supposed to be 100%! if the scroller is 100 it wont scroll */
div#wrapper{
	height: 100%;
}
div#scroller{
	
}
body{
	height:100%;
	margin:0px;
	background-color: #505050;
	/*
    background-image:url('file:///android_assets/dark_gray_bg.png');
	background-image:url('dark_gray_bg.png');
    background-repeat:repeat;
 */   	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
    margin: 0;
    padding: 0;
}
p {
color:black;
font-family:'Arial';}

a.:link { 
color:black;
text-decoration:none;
font-family:'Arial';}

a:visited {
color:black;
text-decoration:none;
font-family:'Arial';
}

a:hover {
color:black;
text-decoration:none;}

div.maincontainer{
	margin:0%;
	width:93%;
	height:80%;
	border: 0px;
	background-color: white;
	text-align: left;}
div.maincontainertitle{
	margin:3%;
	width:93%;
	height:95%;
	border: 3px;
	background-color: white;
	text-align: left;
	font-family: Arial;
}
div#listview{
	margin:15px;
	margin-top: 0px;
	margin-bottom: 20px;
}
div#footer{
	padding-top:0px;
	top:0px;
}
div#footer a{
	font-family:'Arial';
}
div.listitem{
	font-family:'Arial';
}
.boxbg {
	background-color: white;
}
.all-round {
border-radius:.6em;
-moz-border-radius:.6em;
-webkit-border-radius:.6em;
}
img.listicon{
	height: 1.5em;
	width: 1.5em;
	float:right;
}
.listtitle{
	font-size:1.2em;
	font-family: bold;
	color:black;
	text-decoration:none;
}
.sublisttitle{
	font-size:1.2em;
	color:black;
	text-decoration:none;
}
div#activityhome{
	padding-top:1.3em;
	height:100%;
}
div#activityfbgroups{
	padding-top:.1em;
	height:100%;
}
div#activitybellschedule{
	padding-top:.5em;
	height:100%;
}
div#activityaboutdeveloper{
	padding-top:1.3em;
	height:100%;
}
ul.listviewcont{
	list-style-type: none;
	margin:0px;
	padding-left:5px;
}
a.listitem{
	font-size:1.5em;
	color:black;
	text-decoration:none;
	font-family: Arial;
}
.listtitle{
	font-family: Arial;
}
.sublisttitle{
	font-size:1em;
	color:black;
	text-decoration:none;
}
/* dont erase FROM HTML FILE or wont scroll!!! */
/*

#wrapper {
	position:absolute; z-index:0;
	top:0px; bottom:0px; left:0;
	width:100%;
	background:#aaa;
	overflow:auto;
}

*/